<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988665479772-qtbu487ht22ohm3v9m45hm4upj1viqo7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988665479772-qtbu487ht22ohm3v9m45hm4upj1viqo7</string>
	<key>API_KEY</key>
	<string>AIzaSyBFVbV5bbjdajXoAIGFwFm3r9hDDDaPkxM</string>
	<key>GCM_SENDER_ID</key>
	<string>988665479772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.decisionapp</string>
	<key>PROJECT_ID</key>
	<string>decisionapp-2e7cc</string>
	<key>STORAGE_BUCKET</key>
	<string>decisionapp-2e7cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988665479772:ios:c00d71e1cba00612b79c99</string>
</dict>
</plist>